#login-page {
    margin-top: 20px ;
    margin-bottom: 50px;
}

input[type="text"], 
input[type="email"],
input[type="password"] {
    width: 100%;
    border: 1px solid;
    padding: 10px;
}

#login-form label {
    font-size: 20px ;
    padding: 10px 0;
}


input[type="checkbox"]{
    margin-right: 20px;
}