.product-img {
    border-radius: 50px;
    margin-bottom: 20px;
}

.product-title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-price {
    font-size: 30px;
    color: darkblue;
    margin-bottom: 10px;
}

.product-desc {
    text-align: justify;
    margin-bottom: 10px;
}

.btn-detail {
    background-color: rgb(4, 4, 53);
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
}

.btn-detail:hover {
    background-color: darkgreen;
}